.venv/
env-dino/

# Ignore dataset files
dataset/

dino-soja/outputs/

# Repositórios dos modelos
dino-soja/dino/

**/workflows

*.pyc
**/.pkl

**/.png
*.png

**/outputs/
**/output*/


local_dino/

build/
dist/
*.egg-info/
**/__pycache__/

**/.ipynb_checkpoints
**/.ipynb_checkpoints/**

**/notebooks/**

outputs/
output*/

# Ignore shell scripts
*.sh

# Ignore swap files
*.swp

**/teste/
**/gerar_patches.py
**/gerar_patches.log

**/pca_soja_results.pkl

# Ignore vscode directory
.vscode

mae-soja/data/
mae-soja/docs/
mae-soja/env-mae/
mae-soja/logs/
mae-soja/mae/
mae-soja/predicion_ortophoto/
mae-soja/models/modelo_final/test/
mae-soja/*.md
mae-soja/.vscode/
mae-soja/*.pyc

mmsegmentation/